<div class="modal-header">
    <h4>{{title}}</h4>
</div>
<div class="modal-body">
    <p>{{text}}</p>
</div>
<div class="modal-footer" style="text-align:left">
    <p ng-repeat="i in msg" >
        <a href="#" ng-click="action(i, $event)">{{i.options}}</a> 
    </p> 
</div>
