<script>
    //resize viewport
    jQuery(function($) { 
        $('.viewport').height($(document).height() - 160); 
        $('#notifyGradient').css({'top': $('.viewport').height() - 100 + "px"});
    });
</script>

<div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
        <div console-box id="scrollbar1">
            <div class="viewport">
                <div class="overview">
                    <p ng-repeat="msg in msgs track by $index"> 
                        <console m="msg"></console>
                    </p>
                </div>
                <div id="notifyGradient"></div>
            </div>
        </div>
        <command-line></command-line>
    </div>

    <div class="col-xs-3 col-md-4"> 
        <h3>Ship</h3>
        <p>Shields: {{parentobj.shields}}</p>
        <p>Hull: {{parentobj.hull}}</p>
    </div>

    <div class="col-xs-3 col-md-4">
        <h4>{{obj.main.name}}</h4> 
        <clicker d="obj"></clicker>
    </div>
</div>
